html{
  scroll-behavior: smooth;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }

  /* navbar */
  .sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    opacity: 1;
    
  }
  /* MAJOR */
  .MAJOR {
    margin-top: 200px;
    margin-left: 90px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
  }
  .MAJOR2 {
    margin-top: 150px;
    width: 900px;
    text-align: left;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

/* nav bar 2 for uiux and software development */
.headingof{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2C01D6;

}
.headingof2{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.headingof3{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* modal */
.modalText{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.midtextmodal{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-align: justify;
  margin-left: 40px;
  
}


/* crousel */


.carousel-control-next-icon:after
{
  
  font-size: 33px;
  color:black;
}

.carousel-control-prev-icon:after {
  
  font-size: 33px;
  color: black;
}
/* lets talk button */
  .success {
    /* light border */
    border-color: #2C01D6;
    color: #2C01D6;
     border-width: thin;
    border-radius: 0%;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
   
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter:none !important;
 }

  .knowmore {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-color:#2C01D6;
    width: 176;
    height: 53px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /* Exlpore NITYA */
  .success2 {
    border-color:#2C01D6;
    color:#2C01D6;
    border-width: thin;
    border-radius: 0%;
    width: 190px;
    height: 54px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
/* quote */
.quote{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Nunito Sans',sans-serif;
}
.para{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 16px;
  width: 456px;
  height: 300px;
  
  font-weight: 400;
}


/* grid items */
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    
    padding: 10px;
  }
  *:focus {
    outline: 0 !important;
}
  .grid-item {
    
 
  
    font-size: 30px;
    text-align: center;
  }
.collap{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito Sans',sans-serif;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 504px;
}
.collap2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

div.panel {
  display: none;
}

div.panel.show {
  display: block !important;
}
  
  .knowmore2 {
    background-color:white;
    width: 225;
    height: 55px;
    border: none;
    color: #2C01D6;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    width: 10%;
    float: left;
    
  

}  
.float-child2 {
  margin-top: 70px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  float: right;
  background-color: #2C01D6;
  height: 50px;
  padding: 0;

}  
.float-child3 {
  margin-top: 10px;
 
  background-color: #2C01D6;
  height: 356px;

}



/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}









/* flexbox */
.flexbox-container{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-xs"] {
    width:100%;
  }

}

/* Details of the products */

.Details{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
.DetailsHeading{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
margin-left: 124px;
}
.DetailsHeading2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
margin-left: 124px;

}
/* Explore other products Heading */
.exploreprd{
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 338px;

}

/* product auth */
.customize{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-left: 160px;
  color: white;
}
.cutomizeparagraph{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
  font-weight: 300;
  margin-left: 160px;
}
.customize2{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  
  color: white;
}
.cutomizeparagraph2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
  font-weight: 300;
  
}

/* Ui/UX */
.uiuxheading{
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: bold;
margin-top: 162px;
margin-left: 124px;

}
.uipara{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 124px;
}

/* other solutions */
.uxdetails{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 20px;
}



/* nav bar with media query */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
nav{
  
  height: 84px;
  width: 100%;
  position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    opacity: 1;
    background-color: white;
}
label.logo{
  color: #f2f2f2;
  
  line-height: 84px;
  padding: 0 0px;
  font-weight: 600;
  
 
}
nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 84px;
  margin: 0 2px;
}
nav ul li a{

  font-weight: 500;
  font-size: 20px;
  padding: 7px 40px;
  border-radius: 3px;
  color: black;
  /* text-transform: uppercase; */
  font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
a.active,a:hover{
  color: #2C01D6;
  transition: .5s;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 84px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
    
  }
  nav ul li a{
    font-size: 16px;
    text-decoration:none;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
    color: black;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:lightgrey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
  
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/* About me */
.headingpage{
font-size: 20px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #4F4F4F;
}
.subtext{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* privacy policy */
.privacyheading{
  font-family: 'Nunito Sans',sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #4F4F4F;
}



